/*CSS Document for JavaScript Example by Lauren H.*/

body {
	transition: background-color 0.5s ease;
}

.timepic {
	width:50%;
}
body.morning {
    background-color: #E2E1B9; /* Morning color */
}

body.noon {
    background-color: #8E9DCC; /* Noon color */
}

body.evening {
    background-color: #D36582; /* Evening color */
}

body.night {
    background-color: #394648; /* Night color */
}